.container h3 {
font-weight: 800;
font-size: 18px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.title h2 {
    font-weight: 900;
    font-size: 24px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttons button {
    border: 1px solid rgb(0, 0, 0);
    padding: 4px;   
    margin: 4px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }

.rating {
    margin: 10px 0 0 0;
    display: flex;
    justify-content: flex-end;
}

.timeContainer {
    display: flex;
    margin: 20px 0;
}


.timeContainer > .time {
  border: .5px solid black;
  border-inline: none;
}

.timeContainer > .time:not(:last-child) {
  border-right: 0.5px solid black;
}


.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 20px;
    
}

.fastText {
    margin-bottom: 20px;
}

.ingredients ul {
  list-style-type: disc; 
  margin: 10px 0 10px 20px;
  padding-left: 20px;    
}

.ingredients li {
  margin-bottom: 8px;   
}


.instructions ol {
  list-style-type: decimal; 
  margin: 10px 0 10px 20px;

  padding-left: 20px;
}

.instructions li {
  margin-bottom: 8px;
}

.text {
  display: flex;
  align-items: center;
  gap: 10px;
}