.container h3 {
font-weight: 800;
font-size: 18px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.title h2 {
    font-weight: 900;
    font-size: 24px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttons button {
    border: 1px solid rgb(0, 0, 0);
    padding: 4px;   
    margin: 4px 0
}

.timeContainer {
    display: flex;
}


.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
    border: .5px solid black;
}