.container h3 {
font-weight: 800;
font-size: 18px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.title h2 {
    font-weight: 900;
    font-size: 24px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttons button {
    border: 1px solid rgb(0, 0, 0);
    padding: 4px;   
    margin: 4px 0
}

.rating {
    margin: 10px 0 0 0;
    display: flex;
    justify-content: flex-end;
}

.timeContainer {
    display: flex;
    margin: 20px 0;
}


.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
    border: .5px solid black;
}

.fastText {
    margin-bottom: 20px;
}

.ingredients ul {
  list-style-type: disc; 
  margin: 10px 0 10px 20px;
  padding-left: 20px;    
}

.ingredients li {
  margin-bottom: 8px;   
}


.instructions ol {
  list-style-type: decimal; 
  margin: 10px 0 10px 20px;

  padding-left: 20px;
}

.instructions li {
  margin-bottom: 8px;
}