.container {
    display: flex;
    flex-direction: column;

    margin: 30px 25px;
}

.topText {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.topText h1 {
    font-size: 30px;
    font-weight: 600;
}