.recipeSlugContainer {
    margin: 40px 25px;
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
    align-items: center;
    border: 1px solid black;


}



.recipeTitle {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex- start;
    gap: 190px;
        border: 1px solid black;
}

.recipeTitle h1 {
    font-size: 35px;
    font-weight: 900;
}

.recipeTitle span {
    margin: 10px 0;
    display: flex;
}


.jump {
    display: flex;
    flex-direction: column;

}


.jump button {
    padding: 8px 10px;

    color: rgb(56, 56, 56);
    margin: 3px 0;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    letter-spacing: .5px;
    font-size: 14px;
}
.jump button:hover {
          background-color: rgb(255, 206, 250);

 
}

.recipeParagraphs {
    margin: 20px 0;
}