.navbar {
    display: flex;
    justify-content:space-between;
    padding: 15px;
    border-bottom: 1px solid rgb(0, 0, 0);
    
}

.navbar h1 {
    font-size: 35px;    
}


.buttons button {
    padding: 10px;
}