.recipeSlugContainer {
    margin: 40px 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.recipeTitle {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.recipeTitle h1 {
    font-size: 35px;
    font-weight: 900;
}

.recipeTitle span {
    margin: 10px 0;
    display: flex;
}


