.thumbnailDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 10px;
    
}

.title h3 {
    font-weight: 600;
    font-size: 28px;
}

.labels  {
    margin-top: 5px;
}

.labels span {
    margin-inline: 5px;
}

.thumbnailImage:hover, .title:hover, .labels:hover {
  cursor: pointer;
}

/* possible border hover color? or no? */

/* 

.thumbnailImage:hover {
    border: 1px solid blue;
} 

*/