.calculatorSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 20px;
    flex-direction: column;
}

.recipes {
  display: flex;
  flex-direction: column;
  width: 350px;
}


.recipe {
    border: 1px solid black;
    display: flex;
    padding: 20px;
    margin: 5px 0;
}


.totals {
    margin: 20px 0;
}