.calculatorSection {
    display: flex;
    justify-content: flex-start;
    margin: 30px 20px;
}

.recipes {
    display: flex;
  flex-direction: column;
}


.recipe {
    border: 1px solid black;
    display: flex;
    padding: 20px;
    margin: 5px 0;
}